@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Open+Sans:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: black;
  --primary-color: white;
  --secondary-bg-color: rgb(204, 153, 60);
  --secondary-color: black;
  --alternative-bg-color: white;
  --alternative-color: black;
  --base-font: "Open Sans", sans-serif;
  --heading-font: "Montserrat", sans-serif;
  --subheading-font: "Open Sans", sans-serif;
}

.container-spacing {
  padding: 0 0%;
}
.header-container {
  display: flex;
  flex-direction: column;
}
.location-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.location-heading {
  /* padding-left: 15rem; */
  /* padding-top: 4vh; */
}
.location-heading span {
  font-size: 1rem;
}
.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  padding-top: 1rem;
  color: var(--secondary-color);
}
.header-icons i {
  font-size: 1rem;
}
.contact-header-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  place-items: center;
  column-gap: 2rem;
  background-color: var(--primary-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo-img {
  width: 10vw;
  height: 10vh;
}
.logo-img img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-position: -5px;
}
.call-heading {
  display: grid;
  width: 100%;
  text-align: center;
}
.email-box {
  display: grid;
  width: 100%;
  text-align: center;
}
.button-container {
  border-left: 1px solid rgb(202, 198, 198);
}
.button-container button {
  width: 8rem;
  height: 2rem;
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 0.2rem;
}
.nav-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--primary-bg-color);
  background-color: rgb(49, 49, 49);
  cursor: pointer;
}

.nav-item {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  margin-top: 2.6rem;
  position: absolute;
  /* background-color: var(--primary-bg-color); */
  padding: 0 0;
}
.nav-item li {
  list-style-type: none;
  font-size: 1.2rem;
  list-style-type: none;
  /* margin-right: rem; */
  font-size: 1.2rem;
  font-family: var(--base-font);
  color: white;
  font-weight: 600;
  border-top: 1px solid var(--primary-color);
  text-align: center;
  padding: 1em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-item li:nth-of-type(1) {
  color: rgb(223, 175, 43);
}
.nav-item a:link {
  text-decoration: none;
  color: var(--primary-color);
}
.nav-item a:visited {
  text-decoration: none;
  color: var(--primary-color);
}
.nav-item a:hover {
  color: var(--secondary-bg-color);
}
.search-icon {
  float: right;
  color: var(--primary-color);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  position: absolute;
  background-color: var(--primary-color);
  height: 4px;
  width: 40px;
  border-radius: 2px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger::before {
  content: "";
  margin-top: -8px;
}
.hamburger::after {
  content: "";
  margin-top: 8px;
}

.hamburger-checkbox {
  display: none;
}
.hamburger-checkbox:checked ~ .action-menu .hamburger {
  background: rgba(255, 255, 255, 0);
}
.hamburger-checkbox:checked ~ .action-menu .hamburger::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.hamburger-checkbox:checked ~ .action-menu .hamburger::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.hamburger-checkbox:checked ~ .nav-item {
  display: flex;
}
.about-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 1rem;
}
.about-left h3 {
  padding: 1.2rem 0;
}
.about-left span {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: 1.5rem;
  /* padding-bottom: 2rem; */
}
.about-left p {
  padding-top: 1.2rem;
  font-family: var(--base-font);
}
.icon-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding-top: 1rem;
}
.icon-container span {
  font-family: var(--subheading-font);
  font-weight: 700;
  font-size: 1rem;
}
.icon-container i {
  font-size: 1.5rem;
  color: var(--secondary-bg-color);
}
.icon-container div {
  padding: 1rem;
}

.about-right {
  padding: 1.2rem;
}
.about-right span {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: 1.5rem;
}
.about-right p {
  padding-top: 1.2rem;
  font-family: var(--base-font);
}
.dropdown-1 {
  padding-top: 1rem;
}
.dropdown-2 {
  padding-top: 1rem;
}
.dropdown-3 {
  padding-top: 1rem;
}
#checkbox-id:checked + p {
  border: 1px solid black;
}

@media (max-width: 900px) {
  .nav-item li {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .container-spacing {
    padding: 0% 15%;
  }
  .location-container {
    flex-direction: row;
    width: 100%;
  }
  .header-icons {
    justify-content: flex-end;
    margin-left: auto;
  }
  .contact-header-box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    place-items: center;
  }
  .logo-img {
    margin-right: auto;
    padding: 5px;
  }
  .logo-img img {
    object-position: -35px;
  }
  .email-box {
    border-left: 1px solid rgb(202, 198, 198);
    border-right: 1px solid rgb(202, 198, 198);
  }
  .button-container {
    margin-left: auto;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    margin-top: 0px;
  }
  .nav-item li {
    border-top: none;
  }
  .search-icon{
   color: white;
    
  }
  .action-menu {
    display: none;
  }
  .hamburger-checkbox:checked ~ .nav-item li {
    display: none;
  }
 
  .about-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  .about-left h3 {
    padding: 1.2rem 0;
  }
  .about-left span {
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 2rem;
    /* padding-bottom: 2rem; */
  }
  .about-left p {
    padding-top: 1.2rem;
    color: black;
    font-family: var(--base-font);
  }
  .icon-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-top: 1rem;
  }
  .icon-container span {
    font-family: var(--subheading-font);
    font-weight: 700;
    font-size: 1rem;
  }
  .icon-container i {
    font-size: 1.5rem;
    color: var(--secondary-bg-color);
  }
  .icon-container div {
    padding: 1rem;
  }

  .about-right {
    padding: 1.2rem;
  }
  .about-right span {
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 2rem;
  }
  .about-right p {
    padding-top: 1.2rem;
    font-family: var(--base-font);
    color: black;
  }
.accordian{
  margin-top: 4rem;;
}
  .accordian input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .accordian .row {
    display: flex;
    
  }
  .accordian .row .col {
    flex: 1;
  }
  .accordian .row .col:last-child {
    margin-left: 1em;
  }
  
  /* Accordion styles */
  .accordian .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  }
  
  .accordian .tab {
    width: 100%;
    color: white;
    overflow: hidden;
  }
  .accordian .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    /* background: #f1f4f8; */
    border: 1px solid;
    font-weight: bold;
    cursor: pointer;
    color: black;
    /* Icon */
  }
  .accordian .tab-label:hover {
    background: #ecf4fc;
  }
  .accordian .tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  .accordian .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    /* background: white; */
    transition: all 0.35s;
  }
  .accordian .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    /* background: #2c3e50; */
    cursor: pointer;
  }
  .accordian .tab-close:hover {
    /* background: #f6f7f8; */
  }
  
  .accordian input:checked + .tab-label {
    /* background: #e1e2e4; */
  }
  .accordian input:checked + .tab-label::after {
    transform: rotate(90deg);
  }
  .accordian input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }

  #checkbox_id {
    display: none;
  }
  .table-content {
    display: none;
  }

  .special-container {
    text-align: center;
  }
  .special-container p {
    font-family: var(--base-font);
    font-weight: lighter;
    font-size: 1.4rem;
    padding-top: 5rem;
    color: #0e0d0d;
  }
  .special-container span {
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 2.5rem;
  }
  .special-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .sp-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .sp-tile {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex: 1 1 auto;
  }
  .sp-tile img {
    height: 5rem;
    width: 5rem;
  }
  .sp-content {
    padding-left: 2rem;
    
  }
  .sp-content span {
    font-family: var(--subheading-font);
    font-weight: 900;
    font-size: 1rem;
  }
  .sp-content p {
    font-family: var(--base-font);
    font-size: 1rem;
    color: #0e0d0d;
  }

  .worker-image {
    height: 60vh;
    width: 22vw;
    text-align: center;
    padding-left: 5rem;
  }
  .worker-image img {
    height: 100%;
    width: 100%;
  }
  .project-heading p{
    color: var(--subheading-font);
  }
  .projects {
    text-align: center;
    margin-top: 2rem;
    background-color: #f9f9f9;
  }
  .project-box {
    padding: 1rem;
    /* height:100%;
    width:100%; */
    position: relative;
  }
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    width: 100%;
  }

  .project-img {
    position: relative;
    height: 20rem;
    width: 100%;
  }
  .project-img img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
  }
  .projects p {
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 2.5rem;
  }
  .projects span {
    font-family: var(--base-font);
    font-weight: lighter;
    font-size: 1.4rem;
    padding-top: 5rem;
  }
  .project-img img,
  .project-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project-text:before {
 
    position: absolute;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    margin: auto;
    content: "";
    transition: all 1000ms ease;
    background-color: hsla(0, 0%, 4%, 0.726);
  }
  .project-img:hover .project-text:before {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    top: 0%;
    left: 0%;
  }
  .projects:hover .projects:hover h1,
  .projects:hover h3 {
    opacity: 1;
  }
  .project-text h1 {
    height: 50%;
  }
  .project-text::before h1{
    /* opacity: 0; */
    transition: opacity 300ms ease;
    color: white;
    text-transform: capitalize;
  }

  .contact-info {
    background-color: var(--primary-bg-color);
    height: 100%;
  }
  .contact-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-us img {
    height: 5rem;
    width: 5rem;
  }
  .about-us {
    padding-top: 2rem;
  }
  .about-us h1 {
    font-family: "Londrina Solid", cursive;
  }
  .about-us span,
  p,
  h1 {
    color: white;
    padding-top: 0.5rem;
  }
  .about-us span {
    border-left: 4px solid orange;
    padding-top: 0.5rem;
    padding-left: 1rem;
  }
  .logo-img2 {
    margin-top: 1rem;
  }
  .media-icons {
    /* text-align: center; */
    padding-top: 1rem;
    color: orange;
    display: flex;
    gap: 1rem;
  }
  .working-hours {
    padding-top: 2rem;
  }
  .working-hours span {
    border-left: 4px solid orange;
    margin-right: 1rem;
    color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  .wh-content{
    margin-top: 1.5rem;
  }
  .timing{
    margin-top: 3.5rem;
  }
  .services {
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
  .services span {
    border-left: 4px solid orange;
    margin-right: 1rem;
    padding-top: 0.5rem;
    color: white;
    padding-left: 1rem;
  }
  .services li {
    border-bottom: 1px solid rgb(75, 72, 72);
    padding-top: 1rem;
    color: white;
    list-style-type: none;
  }
  .services li:before {
    content: "\25BA \0020";
    font-size: 8px;
    color: #ebebeb;
    top: 5px;
  }

  .footer-content {
    height: 100%;
    margin-top: 50px;
    background-color: #0e0d0d;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-content p {
    background-color: orange;
    height: 5rem;
    text-align: center;
    padding: 2rem 0;
  }
}
