* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: black;
  --primary-color: white;
  --secondary-bg-color: rgb(204, 153, 60);
  --secondary-color: black;
  --alternative-bg-color: white;
  --alternative-color: black;
}
body {
  /* background-color: var(--primary-bg-color); */
}
.container-spacing {
  padding: 0 15%;
}
.header-container {
  display: flex;
  flex-direction: column;
}
.location-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.location-heading {
  /* padding-left: 15rem; */
  /* padding-top: 4vh; */
}
.location-heading span {
  font-size: 1rem;
}
.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  padding-top: 1rem;;
  color: var(--secondary-color);
}
.header-icons i {
  font-size: 1rem;
}
.contact-header-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  place-items: center;
  column-gap: 2rem;
  background-color: var(--primary-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo-img {
  width: 10vw;
  height: 10vh;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.call-heading {
  display: grid;
  width: 100%;
  text-align: center;
}

.email-box {
  display: grid;
  width: 100%;
  text-align: center;
}
.button-container {
  border-left: 1px solid rgb(202, 198, 198);
  margin-left: auto;
}
.button-container button {
  width: 8rem;
  height: 2rem;
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 0.2rem;
}
.nav-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgb(49, 49, 49);
}

.nav-item {
  display: none;
  position: absolute;
  /* background-color: var(--primary-bg-color);
  width: 100%;
  margin-top: 10vh;
  flex-direction: column;
  top: 0;
  left: 0; */
}
.nav-item li {
  list-style-type: none;
  font-size: 1.2rem;
}
.nav-item li:nth-of-type(1) {
  color: rgb(223, 175, 43);
}
.nav-item a:link {
  text-decoration: none;
  color: var(--primary-color);
}
.nav-item a:visited {
  text-decoration: none;
  color: var(--primary-color);
}
.nav-item a:hover {
  color: var(--secondary-bg-color);
}
.search-icon {
  float: right;
  color: var(--primary-color);
}

.action-menu {
  position: relative;
  background-color: red;
  font-size:1rem;
  color: black;
  height: 100%;
  width: 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
display: none;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  position: absolute;
  background-color: var(--primary-color);
  height: 4px;
  width: 40px;
  border-radius: 2px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger::before {
  content: "";
  margin-top: -8px;
}
.hamburger::after {
  content: "";
  margin-top: 8px;
}

.hamburger-checkbox {
  display: none;
}
.hamburger-checkbox:checked ~ .action-menu .hamburger {
  background: rgba(255, 255, 255, 0);
}
.hamburger-checkbox:checked ~ .action-menu .hamburger::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.hamburger-checkbox:checked ~ .action-menu .hamburger::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.hamburger-checkbox:checked ~ .nav-item {
  display: flex;
  background-color: var(--primary-color);
}
@media (min-width: 900px) {
  .location-container {
    flex-direction: row;
    width: 100%;
  }
  .header-icons {
    justify-content: flex-end;
    margin-left: auto;
  }
  .contact-header-box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    place-items: center;
  }
  .logo-img {
    margin-right: auto;
    padding: 5px;
  }
  .logo-img img {
    object-position: -35px;
  }
  .email-box {
    border-left: 1px solid rgb(202, 198, 198);
    border-right: 1px solid rgb(202, 198, 198);
  }
  .hamburger,
.hamburger::before,
.hamburger::after {
  display: none;
}
.nav-item {
  display: block;
  display: flex;
  justify-content: center;
  gap: 5rem;
  color: var(--primary-color);
  float: left;
}
}